@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#logo{
    display: flex;
    color: whitesmoke;
    align-items: center;
    margin: 0px 14px;
    font-size: 17px;
    margin-right: 50px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar{
    background-color: black;
    padding: 13px 14px;
    font-family: 'Courgette', cursive;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;

}
#navbar li{
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 7px 12px;
    color: rgb(255, 165, 132);
    /* font-weight: bold; */
    margin-left: 12px;
}
#navbar li a:hover{
    background-color: grey;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 18px;
    color: rgb(255, 254, 254);
}
#introsection{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    /* justify-content: center; */
    align-items: center; 
    background: center / cover no-repeat url(/static/bg.jpg);
    height: 438px;
    background-color: orangered;
    font-size: 27px;
    /* opacity: 0.8; */
    font-family: 'Courgette', cursive;
    padding-top: 88px;
}
.name{
    font-family: 'Satisfy', cursive;
    font-size: 58px;
}
#missionsection{
    height: 300px;
    width: 75%;
    /* background-color: #353535; */
    margin: auto;
    /* display: block; */
    /* border: 2px solid black; */
}
#missionsection h2{
    font-family: 'Courgette', cursive;
    text-align: center;
    padding-top: 23px;
    color: rgb(255, 165, 132);
    font-weight: bold;
}
.card{
    display: inline-block;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 12px;
    width: 27%;
    margin: 19px 23px;
    height: 200px;
    color: rgb(8, 8, 8);
}
.card h3{
    text-align: center;
}
.card-box{
    display: flex;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img{
    height: 131px;
    padding: 0 7px;
    margin: 5px 2px;

}
.card-img img{
    height: inherit;
    /* width: 50px;
    padding-left: 2px; */
}
.card-content{
    padding: 0 20px;
}
.card-content p{
    font-size: 20px;
}
#spSection{
    height: 300px;
    background-color: #353535;
}
#spSection h2{
    font-family: 'Courgette', cursive;
    text-align: center;
    padding-top: 23px;
    color: rgb(255, 165, 132);
    font-weight: bold;
}
#sponsors{
    height: 120px;
    max-width: 1000px;
    margin: 27px auto;
}
.SpImage{
    height: 80%;
    margin: 20px 53px;
}
#footer{
    display: flex;
    color: rgb(255, 165, 132);
    background-color: black;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Courgette', cursive;
}
